*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 72%;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* start header */
header{
    background-color: #ff6900;
    color: white; 
}

.header{
    padding: .7rem 0;
}

.fixed{
    position: fixed;
    z-index: 1;
    right: 0;
    width: 100%;
}

.icon-section i{
    padding-right: .5rem;
}

div.logo-section img{
    width: 10rem;
}

div.link-section ul {
    display: flex;
}

div.link-section li{
    list-style-type: none;
    padding-right: 1rem;
}
/* end header */

/* start main */
main{
    padding-top: 50px;
}
.product-row{
    margin-top: 2.5rem;
}

.margin-row{
    margin-top: 5rem;
    margin-bottom: 6.5rem;

}
.row{
    height: 700px;
    width: 450px;
    min-width: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 .5rem;
    position: relative;
}

.row-1{
    background-image: url(../img/1.webp);
}

.row-1:hover{
    background-image: url(../img/1b.webp);
    
}

.row-2{
    background-image: url(../img/2.webp);
}
.row-2:hover{
    background-image: url(../img/2b.webp);
    
}

.row-3{
    background-image: url(../img/3.webp);
}
.row-3:hover{
    background-image: url(../img/3b.webp);
    
}

.row-4{
    background-image: url(../img/4.webp);
}
.row-4:hover{
    background-image: url(../img/4b.webp);
    
}
.row-5{
    background-image: url(../img/5.webp);
}
.row-5:hover{
    background-image: url(../img/5b.webp);
    
}
.row-6{
    background-image: url(../img/6.webp);
}
.row-6:hover{
    background-image: url(../img/6b.webp);
    
}

.favo-icon{
    color: black;
    font-size: 2rem;
    background-color: white;
    padding: .4rem 1.2rem;
    text-align: center;
    position: absolute;
    top:55px;
    right: 0;
}

.row:hover .favo-icon{
    color: red;
}

.discount{
    position: absolute;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: .2rem 1rem;
    top: 84%;
    
}

.sustainability{
    position: absolute;
    background-color: green;
    color: white;
    font-weight: 600;
    padding: .2rem 1rem;
    top: 84%;
    left: 17.5%;
}

.sustainability-wo-discount{
    position: absolute;
    background-color: green;
    color: white;
    font-weight: 600;
    padding: .2rem 1rem;
    top: 84%;
}

div.row h5{
    position: absolute;
    top: 98%;
    color: grey;
    font-weight: 500;
}

div.row p.title-product{
    position: absolute;
    top: 100%;
}

div.row p.price-product{
    position: absolute;
    top: 103%;
    color: red;
    font-weight: bold;
}

span.old-price{
    color: black;
    font-weight: 300;
    text-decoration: line-through;
}

/* end main */

/* start footer */

footer{
    background-color: #1a1a1a ;
    color: white;
}

.footer{
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.sub-footer{
    padding-bottom: 2rem;
}

div.company-info ul{
    display: flex;

}

div.company-info li{
    list-style-type: none;
    padding-right: 1rem;
}

.sub-footer > .icon-section i{
    padding-left: .5rem;
    padding-right: 0;
}

/* end footer */