*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* start header */
header{
    background-color: #ff6900;
    color: white; 
}

.header{
    padding: .7rem 0;
}

.icon-section i{
    padding-right: .5rem;
}

div.logo-section img{
    width: 10rem;
}

div.link-section ul {
    display: flex;
}

div.link-section li{
    list-style-type: none;
    padding-right: 1rem;
}
/* end header */

/* start main */
.row{
    height: 700px;
    width: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 .5rem;
    position: relative;
}

.row-1{
    background-image: url(../img/1.webp);
}

.row-2{
    background-image: url(../img/2.webp);
}

.row-3{
    background-image: url(../img/3.webp);
}

.row-4{
    background-image: url(../img/4.webp);
}

.row-5{
    background-image: url(../img/5.webp);
}

.row-6{
    background-image: url(../img/6.webp);
}

.favo-icon{
    color: black;
    font-size: 2rem;
    background-color: white;
    padding: .4rem 1.2rem;
    text-align: center;
    position: absolute;
    top:55px;
    right: 0;
}

.row:hover .favo-icon{
    color: red;
}
/* end main */